@mainColor: blue;
@fontSize1:35px;
@fontSize2:20px;
@fontSize3:15px;
@import "pizza/pizza-card";

.button-builder(@color,@size){
    width: @size;
    height: @size / 2;
    border-radius: 10px;
    //border: @size * 0.1 solid darken(@color, 10%); 
    background: @color;
}
    #cart{

        position: fixed;
        float: right;
        margin-left: 70%;
        .head_order{
            width: 100%;
            border-bottom: 1px solid grey;
            padding-left: 20px;
            height: 100px;
            line-height: 100px;
            position: fixed;
            .clear_order{
                display: inline-block;
                font-size: 0.7em;
                padding-left: 100px;
            }
            .count_order{
                background-color: orange;
                padding: 5px 10px;
                border-radius: 50%;
            }
            .order_name{
                font-weight: 700;
                font-size: 1.2em;
            }
        }
        .foot_order{
            background-color: white;
            border-top: 1px solid grey;
            position: fixed;
            bottom: 0;
            padding-bottom: 15px;
            width: 30%;
            
            .first_row{
                padding: 15px;
                .text_sum{
                   font-size: 1.1em;
                    font-weight: 700;
                }
                .number_sum{
                    font-size: 1.4em;
                    font-weight: 700;
                    padding-left: 50%;
                }
               
            }
            .second_row{
                width: 80%;
                margin-left: 10%;
                .order{
                    .button-builder(orange,80px);
                    width: 100%;
                    color: white;
                    
                }
            }
            
        }
        
        .ordered_items{
            background-color: gainsboro;
            margin-top: 100px;
            position: fixed;
            height: 100%;
            width: 30%;
            overflow-y: auto;
            overflow-x: hidden;
            
            .nothing_ordered{
                display: none;
                padding-top: 80px;
                text-align: center;
            }
            .ordered_pizza{
                border-bottom: 1px solid grey;
                padding-bottom: 10px;
                .ordered_pizza_name{
                    padding-left: 15px;
                    color:orange;
                    font-size: 1.4em;
                }
                .icons_ordered{
                     display: inline-block;
                    padding-left: 15px;
                    .icons_pair_1{
                         display: inline-block;
                    }
                    .icons_pair_2{
                        display: inline-block;
                        padding: 10px;
                    }
                }
                .ordered_pizza_buttons{
                    padding: 10px;
                    font-weight: 700;
                    .icon_red_button{
                        background-color: red;
                        border-radius: 50%;
                        padding: 5px 10px;
                    }
                     .icon_green_button{
                        background-color: green;
                        border-radius: 50%;
                        padding: 5px 10px;
                    }
                    .icon_cross_button{
                        background-color: beige;
                        border-radius: 50%;
                        padding: 5px 10px;
                        margin: 10px;
                        color: orange;
                    }
                }
            }
        }
    }
.main_container{
    position: relative;
          .navbar{
                    width: 70%;
                    height: 100px;
                    position: fixed;
                    z-index: 90;
                    left: 0;
                    top:0;
                    background-color: black;
                    opacity: 0.8;
                    .pageicon{
                        float: left;
                    }
                    .first_row{
                        font-size: @fontSize2;
                        color: gainsboro;
                        .inf{
                            margin: 15px;
                        }
                        .login{
                            float:right;
                            margin: 10px;
                            .button-builder(orange,80px);

                }
            
        }
        .second_row{
            color: white;
            margin: 15px;
            font-size: @fontSize2;
        }
    }
    
    
        .container{
            background-color:oldlace;
            position: relative;
            width: 70%;
            margin-top: 100px;
            float: left;
          
            .name{
                margin-top: 200px;
                margin-left: 45%;
                font-size: @fontSize1;
            }
            .count_all{
                font-size: @fontSize1;
                color: white;
                background-color: orange;
                border-radius: 50%;
                padding: 5px 15px;
            }
            .navigation{
                margin-top: 15px;
            }
            .navigation ul{
                list-style: none;
                position: relative;
            }
            .navigation ul li{
                position: relative;

            }
            .pizza_filters{
                margin-left: 10%;
                .filter{
                    color: orange;
                }
            }
            .discount-buttom{
                position: fixed; 
             
            }
        } 
    .right-column{
        
        background-color: white;
        height: 100%;
        z-index: 99;
        
        .order-name{
            font-size: @fontSize1;
        }
        .order-count{
                font-size: @fontSize1;
                color: white;
                background-color: orange;
                border-radius: 15px;
        }
    }
    
    
}
